* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: hsl(0, 0%, 100%);
  --primary-200: hsl(75, 94%, 57%);
  --secondary-700: hsl(0, 0%, 20%);
  --secondary-800: hsl(0, 0%, 12%);
  --secondary-900: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  /* width: 100svw; */
  background-color: var(--secondary-900);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 0 2.5rem;
  font-family: Arial;
  font-weight: 600;
}

.wrapper {
  background-color: var(--secondary-800);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.25rem 0;
  width: 25%;
  border-radius: 0.625rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 6.19rem;
  margin: 1.25rem 0;
}

.p1 {
  color: var(--primary-100);
  font-size: 1.375rem;
  margin: 0.25rem 0 0.5rem;
  font-weight: 700;
}

.p2 {
  color: var(--primary-200);
  font-size: 0.8125rem;
  margin: 0 0 1.0625rem;
}

.p3 {
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.25rem 0 0.875rem;
}

.git {
  background-color: var(--secondary-700);
  padding: 0.7rem 0;
  border-radius: 0.4375rem;
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.0625rem 0 0.875rem;
  width: 100%;
  text-align: center;
}

.git:hover,
.front:hover,
.link:hover,
.twit:hover,
.insta:hover {
  cursor: pointer;
  color: black;
  background-color: var(--primary-200);
}
.front {
  background-color: var(--secondary-700);
  padding: 0.7rem 0;
  border-radius: 0.4375rem;
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.0625rem 0 0.875rem;
  width: 100%;
  text-align: center;
}
.link {
  background-color: var(--secondary-700);
  padding: 0.7rem 0;
  border-radius: 0.4375rem;
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.0625rem 0 0.875rem;
  width: 100%;
  text-align: center;
}

.twit {
  background-color: var(--secondary-700);
  padding: 0.7rem 0;
  border-radius: 0.4375rem;
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.0625rem 0 0.875rem;
  width: 100%;
  text-align: center;
}

.insta {
  background-color: var(--secondary-700);
  padding: 0.7rem 0;
  border-radius: 0.4375rem;
  color: var(--primary-100);
  font-size: 0.8125rem;
  margin: 0.0625rem 0 1.5625rem;
  width: 100%;
  text-align: center;
}

/* alternate responsive approach using rem and max dimension rules */
@media (max-width: 23.4375rem) {
  body {
    padding: 1rem 0;
  }

  .wrapper {
    width: 84%;
    max-width: 22.5rem; /* 360px */
    margin: 0.625rem 0;
  }

  img {
    max-width: 3.75rem; /* 60px */
    max-height: 3.75rem;
    margin: 1rem 0;
  }

  .p1 {
    font-size: 1.25rem; /* 20px */
    margin: 0.125rem 0 0.375rem;
  }

  .p2,
  .p3 {
    font-size: 0.75rem; /* 12px */
  }

  .git,
  .front,
  .link,
  .twit,
  .insta {
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
    margin: 0.0625rem 0 0.625rem;
    width: 100%;
    max-width: 17rem;
    text-align: center;
  }
}
